/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Libre Franklin', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Libre Franklin", sans-serif; */
  font-size: 20px;
}

.container {
  width: 100%;
  height: auto;

  padding: 110px 30px 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.logo {
  margin: 0 0 50px 0;
}

.heading {
  width: 100%;

  margin: 0 0 20px 0;

  font-family: sans-serif;
  font-weight: 400;
  font-size: 49px;

  color: hsl(0, 0%, 59%);
}

.bold {
  font-weight: 700;

  color: black;
}

.sub-heading {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;

  margin: 0 0 40px 0;
}

/* .registration {
    
  } */

.register {
  width: 420px;
  height: 55px;

  border-radius: 20px;

  margin-right: 10px;
  padding: 15px;

  font-size: 20px;
}

.btn {
  width: 200px;
  height: 55px;

  border-radius: 20px;

  font-size: 20px;
}

.displayed-image {
  width: 50%;
}
